<html>
  <head>
    <title>Nicola's Bio in a Python Flask Application</title>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
      <tr>
        <td>
         </td>
        <td>
          <h1>Nicola's Bio in a Python Flask Application</h1>

        </td>
      </tr>
    </table>

    <p>Stuff 1 </p>
    <p>Stuff 2 - Items
    <ul>
      <p>Hmm </p>
      <p>Hmmm</p>
      <p>Hmmmm</p>
      </ul>

      <ul>
        <p>The flask is called here:</p>
        {{name}}
	<br><br>
	<p>Psst... It's invisible!
      </ul>

  </body>
</html>
